 *{
  margin:0;
  padding:0;
  box-sizing: border-box;
 }

 
.work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#banner .banner-content{
    background-image: url("../images/banner/banner3.png");
    height: 808px;
    max-width: 1600px;
    background-size: cover;
    background-position: right center;
    padding: 100px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
#banner .banner-content h1{
    font-size: 65px;
    color: #fff;
    max-width: 525px;
    padding: 10px 20px;
    text-align: right;
}
#banner .banner-content p{
    font-size: 16px;
    color: #fff;
    margin-top: 20px;
    max-width: 494px;
    padding: 10px 20px;
    text-align: right;
}
.btn{
    background-color: #fff;
    color: rgb(87, 178, 231);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 30px;
}