 *{
  margin:0;
  padding:0;
  box-sizing: border-box;
 }

 
.work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#banner .banner-content{
    background-image: url("../images/banner/banner3.png");
    height: 808px;
    max-width: 1600px;
    background-size: cover;
    background-position: right center;
    padding: 100px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
#banner .banner-content h1{
    font-size: 65px;
    color: #fff;
    max-width: 525px;
    padding: 10px 20px;
    text-align: right;
}
#banner .banner-content p{
    font-size: 16px;
    color: #fff;
    margin-top: 20px;
    max-width: 494px;
    padding: 10px 20px;
    text-align: right;
}
.btn{
    background-color: #fff;
    color: rgb(87, 178, 231);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 30px;
}
.person-section{
    display: flex;
    gap: 56px;
    justify-content: center;
    align-items: center;
    padding: 100px 50px;
}
.person-content h1{
    font-size: 35px;
    color: #333;
    margin-bottom: 30px;
}
.person-content p{
    display:flex;
    flex-direction: column;
    gap: 20px;
    width: 416px;
    
}

.person-content .list{
    list-style-type: none;
}

#skills .plan{
    text-align: center;
}
.skill-box{
    display:flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    padding: 50px 20px;
    max-width: 1100px;
    margin: 0 auto;
    
}

.skill-card{
    width: 150px;
    background: #ffffff;
    padding: 24px;
    
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
}

.skill-card img{
    width: 70px;
    height: 70px;
    
}

.skill-card h1{
    font-size: 24px;
    color: #333333;
    margin: 0;
}

.skill-card p{
    color: #666666;
    margin: 0;
    font-size: 17px;
}

#hur .band{
    background-image: url(../images/watch.png);
    background-repeat: no-repeat;
    background-size:cover;
    height: 300px;
    width: 1140px;
    background-position: center;
    /* display:flex; */
    align-content: center;
}
 
.band h1 {
    
    padding-left: 64px;
    text-decoration: #333;
}
#hur{
    display: flex;
    justify-content: center;
}


