 *{
  margin:0;
  padding:0;
  box-sizing: border-box;
 }

 
.work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#banner .banner-content{
    background-image: url("../images/banner/banner3.png");
    height: 808px;
    max-width: 1600px;
    background-size: cover;
    background-position: right center;
    padding: 100px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
#banner .banner-content h1{
    font-size: 65px;
    color: #fff;
    max-width: 525px;
    padding: 10px 20px;
    text-align: right;
}
#banner .banner-content p{
    font-size: 16px;
    color: #fff;
    margin-top: 20px;
    max-width: 494px;
    padding: 10px 20px;
    text-align: right;
}
.btn{
    background-color: #fff;
    color: rgb(87, 178, 231);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 30px;
}
.person-section{
    display: flex;
    gap: 56px;
    justify-content: center;
    align-items: center;
    padding: 100px 50px;
}
.person-content h1{
    font-size: 35px;
    color: #333;
    margin-bottom: 30px;
}
.person-content p{
    display:flex;
    flex-direction: column;
    gap: 20px;
    width: 416px;
    
}

.person-content .list{
    list-style-type: none;
}

#skills .plan{
    text-align: center;
}
.skill-box{
    display:flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    padding: 50px 20px;
    max-width: 1100px;
    margin: 0 auto;
    
}

.skill-card{
    width: 150px;
    background: #ffffff;
    padding: 24px;
    
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
}

.skill-card img{
    width: 70px;
    height: 70px;
    
}

.skill-card h1{
    font-size: 24px;
    color: #333333;
    margin: 0;
}

.skill-card p{
    color: #666666;
    margin: 0;
    font-size: 17px;
}

#hur .band{
    background-image: url(../images/gradient1.png) , url(../images/watch.png) ;
    background-repeat: no-repeat;
    background-size:cover;
    height: 300px;
    width: 1140px;
    background-position: center;
    /* display:flex; */
    align-content: center;
    padding-left: 64px;
}
 
.band h1 {
    
    
    color: #ffffff;
}
#hur{
    display: flex;
    justify-content: center;
}

.footer-container{
    background-color: #333;
    background-size: cover;
    height: 577px;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    gap: 116px;
    padding-left: 232px;
    padding-top: 50px;
    margin-top: 130px;
}
.footer-container .social{
    max-width: 562px;
}
.footer-container  .social h2{
    font-size: 45px;
    margin-bottom: 16px;
    color:#ffffff;

}

.footer-container  .social p{
    font-size:16px; 
    margin-bottom: 24px;
    line-height: 26px;
    color:#ffffff;
}
.footer-container .icons a{
  margin-right: 24px;
}

.footer-container .icons{
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 16px;
}
.footer-container .icons img{
    display: block;
    width: 36px;
    height: 36px;
    
}


.form{
    color:#ffffff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    padding-top: 12px;
}
.form h2{
    color: #ffffff;
    margin: 0;
    font-size: 24px;
}
.form .last{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0;
    border-radius: 5px;
}
.form .last input[type="email"]{
    width: 320px;
    padding: 10px 12px;
    background-color: black;
    border-color: #ffffff;
    border-radius: 5px;
    font-size: 16px;
}
.form .click{
    background-color: skyblue;
    color: black;
    border: none;
    padding: 10px 14px;
    border-radius: 6px;
    cursor: pointer;
    align-self: flex-start;
}


